@model VipSoft.CMS.Core.Entity.Article
@Html.Partial("AdminBase")
<script src="@Url.Content("~/Scripts/UEditor/editor_config.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/UEditor/_examples/editor_api.js")" type="text/javascript"></script>
<script>
    $(function () {
        UE.getEditor('Content');
    })    
</script>
<h2>Add</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Article</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryId)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Source)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Source)
            @Html.ValidationMessageFor(model => model.Source)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Summary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Summary)
            @Html.ValidationMessageFor(model => model.Summary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Picture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Picture)
            @Html.ValidationMessageFor(model => model.Picture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeoTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeoTitle)
            @Html.ValidationMessageFor(model => model.SeoTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeoKeywords)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeoKeywords)
            @Html.ValidationMessageFor(model => model.SeoKeywords)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeoDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeoDescription)
            @Html.ValidationMessageFor(model => model.SeoDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LinkUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LinkUrl)
            @Html.ValidationMessageFor(model => model.LinkUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            <script type="text/plain" id="Content" name="Content">
                @Html.DisplayFor(model => model.Content)
            </script>

            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnableLinkUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnableLinkUrl)
            @Html.ValidationMessageFor(model => model.EnableLinkUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsSaveRemotePic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsSaveRemotePic)
            @Html.ValidationMessageFor(model => model.IsSaveRemotePic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AgreeCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AgreeCount)
            @Html.ValidationMessageFor(model => model.AgreeCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArgueCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArgueCount)
            @Html.ValidationMessageFor(model => model.ArgueCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VisitationCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VisitationCount)
            @Html.ValidationMessageFor(model => model.VisitationCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attribute)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attribute)
            @Html.ValidationMessageFor(model => model.Attribute)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SequenceRule)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SequenceRule)
            @Html.ValidationMessageFor(model => model.SequenceRule)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ResultColumns)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ResultColumns)
            @Html.ValidationMessageFor(model => model.ResultColumns)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Conditaion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Conditaion)
            @Html.ValidationMessageFor(model => model.Conditaion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderBy)
            @Html.ValidationMessageFor(model => model.OrderBy)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>
