@model VipSoft.CMS.Core.Entity.Feedback
@{
    Layout = "../Shared/_Layout.cshtml";
}

@section Style {
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Themes/Default/JS/VipSoft.CMS.Feedback.js")" type="text/javascript"></script> 
}


<div class="nybox">
    <div class="left">
        @{Html.RenderAction("NavigationMenu", "Category");}
    </div>
    <div class="right">
        <div class="title">
            <span>您的位置：<a href='index.asp.html'>首页</a>
                &gt; <a href="#">关于我们</a>
                &gt; <a href="#">依软简介</a>
            </span>关于我们
        </div>
        <div class="channelbox">
            <p style="text-align: center;">
                <form id="frmFeedBack" method="post">
                            <table cellspacing="1" cellpadding="0" width="98%" align="center" border="0">
                                <tr>
                                    <td align="center" width="13%">
                                        <div align="right">标题：</div>
                                    </td>
                                    <td align="left" width="87%" height="25">
                                        &nbsp;
                                    <input name="Title" type="text" style="width: 200px;" />
                                        @Html.ValidationMessageFor(model => model.Title)
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" height="25">
                                        <div align="right">姓名：</div>
                                    </td>
                                    <td align="left" height="25">
                                        &nbsp;
                                    <input name="Name" type="text" style="width: 200px;" />
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" height="25">
                                        <div align="right">电话：</div>
                                    </td>
                                    <td align="left" height="25">
                                        &nbsp;
                               <input name="Tel" type="text" style="width: 200px;" />
                                        @Html.ValidationMessageFor(model => model.Tel)
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <div align="right">QQ：</div>
                                    </td>
                                    <td align="left" height="25">
                                        &nbsp;
                                    <input name="QQ" type="text" style="width: 200px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <div align="right">Email：</div>
                                    </td>
                                    <td align="left" height="25">
                                        &nbsp;
                                  <input name="Email" type="text" style="width: 200px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" height="158">
                                        <div align="right">内容：</div>
                                    </td>
                                    <td align="left">
                                        &nbsp;
                              <textarea name="Content" rows="2" cols="20" style="height: 146px; width: 300px;"></textarea>

                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        &nbsp;
                            <input name="submit" type="submit" value=" 确定 " />
                                        <input name="reset" type="reset" value=" 重填 " />
                                    </td>
                                </tr>
                            </table>
                            </form>
            
            </p>
           
        </div>
        <div class="nyboxfoot"></div>
    </div>
    <div class="clear"></div>
</div>
