@model IEnumerable<VipSoft.CMS.Core.Entity.Article>
@Html.Partial("AdminBase")
<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table>
    <tr>
        <th>
            CategoryId
        </th>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Source
        </th>
        <th>
            Summary
        </th>
        <th>
            Picture
        </th>
        <th>
            SeoTitle
        </th>
        <th>
            SeoKeywords
        </th>
        <th>
            SeoDescription
        </th>
        <th>
            LinkUrl
        </th>
        <th>
            Content
        </th>
        <th>
            EnableLinkUrl
        </th>
        <th>
            IsSaveRemotePic
        </th>
        <th>
            AgreeCount
        </th>
        <th>
            ArgueCount
        </th>
        <th>
            VisitationCount
        </th>
        <th>
            Attribute
        </th>
        <th>
            SequenceRule
        </th>
        <th>
            Status
        </th>
        <th>
            CreateDate
        </th>
        <th>
            UpdateDate
        </th>
        <th>
            ResultColumns
        </th>
        <th>
            Conditaion
        </th>
        <th>
            OrderBy
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeoTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeoKeywords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeoDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnableLinkUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSaveRemotePic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgreeCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArgueCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitationCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attribute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SequenceRule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultColumns)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conditaion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Add", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
