@model VipSoft.Membership.Core.Entity.Users
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Areas/VipSoft/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>编辑文章信息</title>
    @Html.Partial("AdminBase")
    <script src="@Url.Content("~/Scripts/UEditor/editor_config.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/UEditor/_examples/editor_api.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/UEditor/third-party/swfupload/swfupload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Admin/swfupload.handlers.js")" type="text/javascript"></script>

</head>
<body class="mainbody">
    <div class="navigation">首页 &gt; 用户管理 &gt; 密码修改</div>

    @using (Html.BeginForm())
    {
        <div id="contentTab">

            <table class="form_table">
                <col style="width: 150px">
                <col>
                <tbody>
                    <tr>
                        <th>旧 密 码：</th>
                        <td><input type="password" name="OldPassword" /></td>
                    </tr>
                    <tr>
                        <th>新 密 码：</th>
                        <td><input type="password" name="Password" /></td>
                    </tr>
                    <tr>
                        <th>确认密码：</th>
                        <td><input type="password" name="Password1" /></td>
                    </tr>
                </tbody>
            </table>

            <div class="foot_btn_box">@Html.ValidationSummary(true)
                <input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btnSubmit" />
                &nbsp;<input name="重置" type="reset" class="btnSubmit" value="重 置" />
            </div>
        </div>
    }
</body>
</html>
